*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: #dfdfdf;
   font-size: 14px;
   font-family: sans-serif;
}
p{
   font-size: 16px;
   padding: .8rem 0;
   color: #2d0936;
   font-style: italic;
}
li{
   text-decoration: none;
}
input,
textarea{
   border: solid 1px #ddd;
   padding: .8rem;
   border-radius: 12px;
   margin-bottom: .8rem;
}
.boxs{
   border-radius: 12px;
   width: 100%;
   height: 60px;
   background-color: lightseagreen;
}

.parrafo-1{
   padding: .8rem;
   border: solid 2px lightslategray;
   border-left: solid 8px lightseagreen;
}
.parrafo-2{
   padding: .8rem;
   border: solid 2px lightslategray;
   border-right: solid 8px lightseagreen;
}
.parrafo-1,
.parrafo-2,
.parrafo-3{
   margin: .6rem 0;
   border-radius: 12px;
}
.parrafo-3{
   padding: 1rem;
   border: solid 2px limegreen;
   border-top: solid 6px limegreen;
   border-bottom: solid 6px limegreen;
}